In [1]:
print("halo")

halo

ini sesi 1 untuk kelas python data science

notes untuk cara tulis markdown https://www.markdownguide.org/basic-syntax/

# Ini header

ini paragraf 1, setelah baris ini kasih spasi 2 kali  
baru enter maka sudah di baris berikut

setelah enter 2 kali kita ke paragraf 2

ini paragraf 3 **bold** *italic*

In [2]:
print("hello world")

hello world

# Python Intro - Sesi 1

mempelajari bahasa python dimulai dari tipe data yang dikenali

untuk melihat hasil code nya kita bisa pakai `print()`

## Data Types
untuk melihat tipe data kita bisa pakai `type()`

In [3]:
print(5)
print(type(5))

5
<class 'int'>

tipe data di python diberi kelompok namanya "class" dan disingkat juga. singkatannya:
- integer -> int
- float -> float
- string -> str
- boolean -> bool

In [4]:
print(5.5)
print(type(5.5))

5.5
<class 'float'>

In [5]:
print("halo 234 #$%")
print(type("halo 234 #$%"))

halo 234 #$%
<class 'str'>

In [6]:
print('hello')
print(type('hello'))

hello
<class 'str'>

In [7]:
print('toys R" US ')
print("toys R\" US ")
print("\\")

toys R" US
toys R" US
\

## Boolean
antara `True` atau `False` saja  
boolean adalah tipe data yang hanya punya dua jenis data

In [8]:
print(True)
print(False)
print(type(True))
print(type(False))

True
False
<class 'bool'>
<class 'bool'>

## ubah tipe data ke tipe lain

In [9]:
# ubah integer int jadi tipe data lain
print(float(5))
print(str(5))
print(bool(5))

5.0
5
True

In [10]:
# ubah float jadi tipe data lain
print(int(5.975))
print(str(5.175))
print(bool(5.175))

5
5.175
True

In [11]:
# ubah string str jadi tipe data lain
print(int("50"))
print(float("50"))
print(bool("50"))

50
50.0
True

In [12]:
# ubah boolean bool jadi tipe data lain
print(int(True))
print(float(True))
print(str(True))

1
1.0
True

In [13]:
print(int(False))
print(float(False))
print(str(False))

0
0.0
False

In [14]:
# string yang kosong "" kutip saja, dianggap False
print(bool(""))

False

In [15]:
5
5.0
"lima"
True

True

Kita bisa simpan datanya ke dalam sebuah variable  
seperti memberi nama ke datanya

contoh:  
`nilai_budi = 80`

kita membuat variable bernama "nilai_budi" dan memberi data integer "80" ke variable tersebut

# Variable Assignment

In [20]:
n = 300

In [21]:
print(n)

300

In [22]:
# variable re-assignment
n = "halo"

In [23]:
print(n)

halo

In [25]:
m = True

In [26]:
print(n)

halo

In [27]:
print(n, m)

halo True

In [31]:
print(n) 
print(m)

10
25

In [32]:
n = 10
m = 25
print(n)
print(m)

10
25

# Peraturan nama variable
- tidak boleh dimulai dengan angka 0-9
```python
10andi = 75
```
ini akan memberi error
- huruf kecil semua  
    huruf besar atau kecil bagi python adalah variable yang berbeda. jadi kita samakan huruf kecil semua biar gk lupa
- spasi diubah jadi _   
    
    selain spasi tidak boleh pakai _ , dan semua spasi kita gantikan jadi _

In [35]:
nilai_andi = 1
nilai_Andi = 2
NILAI_andi = 3
nilai_ANDI = 4
NilaiAndi = 5
nilaiAndi = 6

print(nilai_andi)
print(nilai_Andi)
print(NILAI_andi)
print(nilai_ANDI)
print(NilaiAndi)
print(nilaiAndi)

1
2
3
4
5
6

In [36]:
nilaiandi = 7
nilai_andi = 8
nilaiandi_ = 9
_nilaiandi = 10
_nilai_andi_ = 11

print(nilaiandi)
print(nilai_andi)
print(nilaiandi_)
print(_nilaiandi)
print(_nilai_andi_)

7
8
9
10
11

dengan mengikuti rule, cara kita tulis variable untuk nilai andi menjadi selalu
`nilai_andi`

# Operators in Python

## Arithmetic Operators
`+ - * / % **`
- % modulo adalah pembagian yang disimpan sisanya saja  
    contoh: 5 bagi 3 adalah 1 sisa 2, jadi 5 % 3 = 2
- ** adalah pangkat

In [39]:
print(5 + 10)
print(5 - 10)
print(5 * 10)
print(5 / 10)

15
-5
50
0.5

In [42]:
print(5 % 3)
print(5 ** 3)

2
125

In [47]:
a = 5
b = 10

print(a + b)
print(a - b)
print(a * b)
print(a / b)

b = 3
print(a % b)
print(a ** b)

15
-5
50
0.5
2
125

## Operator aritmatik di string
hanya ada `+` dan `*`

In [51]:
salam = "selamat malam"
print(salam + " andi")
print("halo " + "halo" + " bandung")
print(salam + ", " +salam)

selamat malam andi
halo halo bandung
selamat malam, selamat malam

In [52]:
print("halo" * 10)

halohalohalohalohalohalohalohalohalohalo

## Comparison Operators

- `==` sama dengan `5 == 10`-> False
- `<` lebih kecil `5 < 10` -> True
- `>` lebih besar `5 > 10` -> False
- `<=` lebih kecil atau sama dengan `5 <= 10` -> True
- `>=` lebih besar atau sama dengan `5 >= 10` -> False

membandingkan dua data/ variable dan memberi tau True atau False  
hasil dari comparison operator selalu boolean, True atau False

In [49]:
a = 5
b = 10

print("a <= 10", a <= 10)

a <= 10 True

In [65]:
a = "apel"
b = "halo"

print(a == b)
print(a < b)
print(a, ">", b, a > b)

False
True
apel > halo False

perbandingan comparison operator dengan string, diurutkan secara abjad. Pastikan huruf nya besar semua atau kecil semua, karena huruf besar dan huruf kecil dianggap berbeda, dengan urutan yang bebeda. contohnya a kecil lebih besar dibanding A besar.

## ubah case string
case itu huruf kecil (lower case) atau huruf besar (UPPER CASE), dan lainnya:
- lower case
- UPPER CASE
- Title Case

In [66]:
message = "selamat Malam, selamat datang ke kelas PYTHON Hacktiv8"

# lower case
print(message.lower())

selamat malam, selamat datang ke kelas python hacktiv8

In [67]:
# UPPER CASE
print(message.upper())

SELAMAT MALAM, SELAMAT DATANG KE KELAS PYTHON HACKTIV8

In [68]:
# Title Case
print(message.title())

Selamat Malam, Selamat Datang Ke Kelas Python Hacktiv8

In [70]:
# sWAP cAsE -> tukar huruf kecil jadi besar, besar jadi kecil
print(message.swapcase())

SELAMAT mALAM, SELAMAT DATANG KE KELAS python hACKTIV8

In [71]:
# Capitalize case -> ubah huruf pertama jadi besar, huruf lainnya jadi kecil
print(message.capitalize())

Selamat malam, selamat datang ke kelas python hacktiv8

# Tipe data terstruktur
- List
- Tuple
- Dictionary

In [73]:
andi_assignment_1 = 60
andi_assignment_2 = 70
andi_assignment_3 = 80
andi_assignment_4 = 75

budi_assignment_1 = 90
budi_assignment_2 = 100
budi_assignment_3 = 85
budi_assignment_4 = 88

# List
simpan banyak data di satu tempat [ ]
- pakai kurung kotak []
- setiap data di dalam kurung kotaknya dipisah dengan koma ,

In [74]:
nilai_andi = [60, 70, 80, 75]

In [75]:
print(nilai_andi)

[60, 70, 80, 75]

## Indexing
menggunakan angka urut index mulai dari 0 untuk mengambil satu data di dalam list  
`nama_list[angka_index]`

In [76]:
# data pertama dalam list nilai_andi
print(nilai_andi[0])

60

In [77]:
# data kedua dalam list nilai_andi
print(nilai_andi[1])

70

In [80]:
# ambil data terakhir
print(nilai_andi[-1])

75

In [89]:
# re assign bisa satu satu pakai indexing
# nilai andi yang terakhir ternyata 100
nilai_andi[-1] = 100

print(nilai_andi)

[60, 70, 80, 100]

- List itu urut, yang kita tulis duluan, urutannya tetap duluan
- data dalam List bisa tipe data apapun, **apapun** termasuk List lagi

In [78]:
list_campur = [0, 23.456, [], True, "haloo", nilai_andi]
print(list_campur)

[0, 23.456, [], True, 'haloo', [60, 70, 80, 75]]

## Slicing
ambil beberapa data sekaligus dari sebuah List

In [79]:
# data pertama dan kedua dalam list nilai_andi
print(nilai_andi[0:2])

[60, 70]

In [81]:
list_buah = ["apel", "pisang", "jeruk", "melon", "pir", "durian", "buah naga"]
print(list_buah)

['apel', 'pisang', 'jeruk', 'melon', 'pir', 'durian', 'buah naga']

In [85]:
# ambil dari jeruk sampai habis
print(list_buah[2:])

['jeruk', 'melon', 'pir', 'durian', 'buah naga']

In [86]:
# ambil 3 buah terakhir
print(list_buah[-3:])

['pir', 'durian', 'buah naga']

In [87]:
# ambil 3 buah pertama
print(list_buah[:3])

['apel', 'pisang', 'jeruk']

In [88]:
# ambil 3 buah dari jeruk ke belakang
print(list_buah[2:5])

['jeruk', 'melon', 'pir']

In [90]:
# re - assign juga bisa banyak sekaligus
# 3 buah dari jeruk ke belakang, diganti jadi "salak"
list_buah[2:5] = ["salak"]

print(list_buah)

['apel', 'pisang', 'salak', 'durian', 'buah naga']

In [92]:
# ubah salak jadi 3 buah berbeda
list_buah[2:3] = ["duku", "lengkeng", "nanas"]

print(list_buah)

['apel', 'pisang', 'duku', 'lengkeng', 'nanas', 'durian', 'buah naga']

### lihat ada berapa item dalam sebuah List
`len()`

In [82]:
print(len(list_buah))

7

In [83]:
print(len(nilai_andi))

4

# Cek apakah ada data tertentu dalam sebuah List

In [93]:
# apakah ada "pir" di dalam list_buah?
print("pir" in list_buah)

False

In [94]:
# apakah ada "duku" di dalam list_buah?
print("duku" in list_buah)

True

### sekalian cek dia index ke berapa

In [95]:
# "duku" ada di index ke berapa di list_buah
print(list_buah.index("duku"))

2

In [96]:
print(list_buah[2])

duku

```python
# "pir" ada di index ke berapa di list_buah
print(list_buah.index("pir"))
```
error karena tidak ada "pir" di dalam list_buah

## Cek apakah ada karakter tertentu dalam sebuah string

In [98]:
print(message)

selamat Malam, selamat datang ke kelas PYTHON Hacktiv8

In [99]:
# apakah ada Python dalam message?
print("Python" in message)

False

In [100]:
# biasanya kita samakan case nya biar ketemu
print("Python".lower() in message.lower())

True

In [101]:
print("python" in "selamat malam, selamat datang ke kelas python hacktiv8")

True

In [102]:
# apakah ada karakter 8 dalam message?
print("8" in message)

True

## Nambah item dan Hapus item dari List
- append
- remove

In [103]:
print(list_buah)

['apel', 'pisang', 'duku', 'lengkeng', 'nanas', 'durian', 'buah naga']

In [104]:
list_buah.append("semangka")
print(list_buah)

['apel', 'pisang', 'duku', 'lengkeng', 'nanas', 'durian', 'buah naga', 'semangka']

In [106]:
list_buah.remove("pisang")
print(list_buah)

['apel', 'duku', 'lengkeng', 'nanas', 'durian', 'buah naga', 'semangka']

```python
list_buah.remove("pir")
print(list_buah)
```
akan error karena tidak ada "pir" di dalam list_buah

masih ada banyak fungsi list lainnya yang bisa dilakukan, boleh dicoba dengan melihat di https://www.w3schools.com/python/python_lists.asp contoh pemakaiannya

# Tuple
mirip list   
tapi tidak bisa di re-assign item nya

In [108]:
print(list_buah)

['apel', 'duku', 'lengkeng', 'nanas', 'durian', 'buah naga', 'semangka']

In [109]:
# re-assign list_buah
list_buah[0] = "APEL"
print(list_buah)

['APEL', 'duku', 'lengkeng', 'nanas', 'durian', 'buah naga', 'semangka']

In [110]:
tuple_buah = ('apel', 'duku', 'lengkeng', 'nanas', 'durian', 'buah naga', 'semangka')
print(tuple_buah)

('apel', 'duku', 'lengkeng', 'nanas', 'durian', 'buah naga', 'semangka')

```python
# re-assign tuple_buah
tuple_buah[0] = "APEL"
print(tuple_buah)
```
isi tuple gak boleh di re-assign, jadi ini akan error

biasanya dipakai untuk list yang gak mau diubah, mungkin contohnya nilai_andi

# Dictionary
- dibuat dengan kurung kurawal {}
- tidak punya index, punya nya key, key ini adalah string yang menggantikan index

In [121]:
nilai_andi = [60, 70, 80, 75]
dict_nilai_andi = {"assignment1":60, "assignment2":70, "assignment3":80, "finalproject":75}
print(dict_nilai_andi)

{'assignment1': 60, 'assignment2': 70, 'assignment3': 80, 'finalproject': 75}

## membaca sebuah value dari dictionary
gunakan key nya

In [122]:
print(dict_nilai_andi["assignment1"])

60

```python
dict_nilai_andi = {0:60, 1:70, 2:80, 3:75}
print(dict_nilai_andi[0])
```
tidak direkomendasikan menggunakan dictionary untuk membuat list (maksa), key biasakan pakai string saja

ada saatnya kita perlu tipe struktur data yang bukan List, kita perlu kasih "key" ke setiap datanya. contohnya, untuk simpan informasi tentang andi, andi punya umur, gender, kode peseta, dan beberapa hobi, kita bisa gunakan dictionary.

## membuat sebuah dictionary

In [126]:
andi = {
    "umur": 23, 
    "gender": "M", 
    "kode_peserta": "PYTN063ONL008", 
    "hobi": [
        "makan",
        "tidur",
        "main game"
    ], 
    "nilai": dict_nilai_andi,
    "buah_kesukaan": list_buah
}

In [127]:
print(andi)

{'umur': 23, 'gender': 'M', 'kode_peserta': 'PYTN063ONL008', 'hobi': ['makan', 'tidur', 'main game'], 'nilai': {'assignment1': 60, 'assignment2': 70, 'assignment3': 80, 'finalproject': 75}, 'buah_kesukaan': ['APEL', 'duku', 'lengkeng', 'nanas', 'durian', 'buah naga', 'semangka']}

### membaca: ambil hobi pertama milik dictionary andi

In [135]:
# ambil hobi dari dictinoary andi
print(andi["hobi"])

['makan', 'tidur', 'main game']

In [136]:
# dari hobi andi, yang merupakan List, kita ambil hobi index ke 0
print(andi["hobi"][0])

makan

In [137]:
# kita bisa ubah itu makan jadi yang lain, misalnya kita ubah jadi travelling
andi["hobi"][0] = "travelling"

print(andi)

{'umur': 24, 'gender': 'M', 'kode_peserta': 'PYTN063ONL008', 'hobi': ['travelling', 'tidur', 'main game'], 'nilai': {'assignment1': 60, 'assignment2': 70, 'assignment3': 80, 'finalproject': 75}, 'buah_kesukaan': ['APEL', 'duku', 'lengkeng', 'nanas', 'durian', 'buah naga', 'semangka'], 'nama': 'Andhika Rahardjo'}

data yang ada di dalam dictionary selalu sepasang, sepasang `key:value`.   

key selalu bentuk string  
value boleh tipe data apapun, termasuk: boolean, string, list, dictionary, float, integer

bikin sebuah dictionary boleh langsung, seperti contoh di atas bikin andi. bisa juga kita tambahkan key nya setelah dictionary dibuat

In [128]:
# nambahin key nama ke dictionary andi
andi["nama"] = "Andhika Rahardjo"

In [129]:
print(andi)

{'umur': 23, 'gender': 'M', 'kode_peserta': 'PYTN063ONL008', 'hobi': ['makan', 'tidur', 'main game'], 'nilai': {'assignment1': 60, 'assignment2': 70, 'assignment3': 80, 'finalproject': 75}, 'buah_kesukaan': ['APEL', 'duku', 'lengkeng', 'nanas', 'durian', 'buah naga', 'semangka'], 'nama': 'Andhika Rahardjo'}

## value re-assign menggunakan key

In [130]:
# re-assign juga bisa, value re-assign menggunakan key
andi["umur"] = 24
print(andi)

{'umur': 24, 'gender': 'M', 'kode_peserta': 'PYTN063ONL008', 'hobi': ['makan', 'tidur', 'main game'], 'nilai': {'assignment1': 60, 'assignment2': 70, 'assignment3': 80, 'finalproject': 75}, 'buah_kesukaan': ['APEL', 'duku', 'lengkeng', 'nanas', 'durian', 'buah naga', 'semangka'], 'nama': 'Andhika Rahardjo'}

## menambah key ke dictionary

In [131]:
# bikin dictionary baru dari dictionary kosong lalu ditambahkan key satu-satu juga bisa
budi = {}
budi["nama"] = "Budianto Widjaja"
budi["umur"] = 32
budi["gender"] = "M"

print(budi)

{'nama': 'Budianto Widjaja', 'umur': 32, 'gender': 'M'}

## hapus sebuah key dari dictionary
del

In [132]:
del budi["umur"]
print(budi)

{'nama': 'Budianto Widjaja', 'gender': 'M'}

# Github
tempat developer biasanya simpan code online. untuk hari ini sign up account github baru dan buat 1 repository.
https://github.com/